<div id="nav-bar-wrap" class="col-md- nav-col">
<nav class="navbar  bg-light">
  <a class="navbar-brand" href="#">
      <img class="logo" src="assets/frontend/img/img/truckrFooterLogo.png" alt="Truckr Logo">
  </a>
  <li class="nav-item button">
    <a class="nav-link" href="#" role="button">
      <button class="btn smoothscroll new-btn" (click)="signOut()"> Sign Out </button></a>
  </li>
</nav>
</div>
  <div class="body-content text-center">
    <div><br><h1>Thank you for your submission</h1>
    <p>
      We are reviewing your info we'll be in touch shortly. If you have questions in the meantime, you can email <br> <strong>info@truckrtech.com</strong> 
    </p>

    <p>
      Click sign out to be redirected to the home page for more information.
    </p></div>
  </div>
<div class="row mb100">
  <div class="col-md-8 col-md-push-3  probootstrap-animate">
      <p><img src="assets/frontend/img/img/loading.png" alt="image" class="img-responsive" style="
        width: 70%;
    "></p>
  </div>
</div>
<div class="footer-copyright ">
  <div class="copyright text-black"> 
    ©2018 <span>Truckr Technoligies All rights reserved. </span></div>
</div>