.navbar {
    background-color: black !important;
    padding: 0 !important;
    margin-bottom: 0 !important;
    border-radius: 0;
    border: none transparent;
    
}
.navbar-brand img {
    width: 230px !important;
    padding-left: 35px;
    padding-top: 8px;
}

.navbar-inverse .navbar-header{
    flex: 1 !important;
}
.dropdown-toggle{
    color: white !important;
}
