
<body class="site-body">
  <header id="header" class="site-header" role="navigation">
    <div class="container-fluid">
      <div class="menu-wrapper">
        <div id="nav-bar-wrap" class="col-md-14 nav-col">
          <nav id="nav-bar-content" class="navbar navbar-expand-lg custom-navbar">
            <div class="register-link">
              <div class="register-btn">
                <div class="btn smoothscroll new-btn">
                  <a href="/signup" class="label" style="color:  black;">SIGN UP</a>
                </div>
                <div class="btn btn-default geni-btn">
                  <a href="/signin" class="label" style="color: black;">SIGN IN</a>
                </div>
              </div>
              <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about-page">ABOUT </a></li>
                <li><a href="/cargo-owner">CARGO OWNERS</a></li>
                <li><a href="/" rel="home"><img class="d-block" src="assets/frontend/img/img/logo.png" alt="Truckr"></a></li>
                <li><a href="/transporters"> TRANSPORTERS</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/faqs">FAQs</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/frontend/img/img/CargoOwnerBanner.jpg" alt="New york" style="width:100%;">
      </div>
      <div class="carousel-header ">
        <div class="col-md-9 col-md-push-1 text-left">
          <h3 class="probootstrap-heading probootstrap-animate cargodude">
            Book a Truck, <br> Monitor your cargo!</h3>
          <h3 class="col-md-10 probootstrap-heading2 probootstrap-animate">Move and monitor your cargo with our innovative <br> technology solution.
          </h3>
        </div>
        <div class="col-md-push-6 mb10 cargo-contact100" style="padding-bottom: 2px!important; margin-bottom: 0px!important;">
          <form class="contact100-form validate-form">
            <span class="contact100-form-title">
              <h3 class=" text-black probootstrap-heading text-center">
                <strong style="font-size: 30px; font-weight: 900;">Cargo Owner Sign Up</strong>
              </h3>
            </span>

            <div class="wrap-input100 validate-input" data-validate="First Name is required">
              <input class="input100" type="text" name="name" placeholder="First Name">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Last Name is required">
              <input class="input100" type="text" name="name" placeholder="Last Name">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <input class="input100" type="text" name="email" placeholder="Email">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid Phone number is required: 0123456789">
              <input class="input100" type="tel" name="number" placeholder="Phone Number">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="container-contact100-form-btn">
              <button class="contact100-form-btn geni-btn" style="border-radius: 20px!important; height: 35px!important;">
                    Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>

  <section class="probootstrap-section"  id= "features" data-section="features">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
            <img class="img-feature" src="assets/frontend/img/img/TrackTrucks.png">
            <h2>Live track & trace</h2>
            <p style="color: black;">Know exactly where your cargo is at any time between pickup & delivery, using your Truckr dashboard.</p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
            <img class="img-feature" src="assets/frontend/img/img/Notification.png">
            <h2>Real-time updates</h2>
            <p style="color: black;"> Get timely alerts about delays & unusual waiting times.</p>

          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
            <img class="img-feature" src="assets/frontend/img/img/laptop.png">
            <h2>Online marketplace</h2>
            <p style="color: black;">Easily book shipments through our web platform. Transfix finds you the right carrier without you ever picking
              up the phone.
            </p>
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
            <img class="img-feature" src="assets/frontend/img/img/insurance.png">
            <h2>Cargo Insurance</h2>
            <p style="color: black;">Get your cargo insured with our insurance partners. You are guaranteed security for your goods in the eventuality
              of loss or damage.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END row -->
  <section class="probootstrap-section probootstrap" id="features" data-section="features">
    <div class="container">
      <div class="row mb40 text-center">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
          <h2 class="mb50 text-black probootstrap-heading">How it Works</h2>
          <h4 class="mb70">Our free, easy-to-use platform allows you to track a driver on your phone or computer, from the moment he accepts
            a job to the moment he delivers your freight.
          </h4>
        </div>
      </div>
      <!-- END row -->
      <div class="row mb40">
        <div class="col-md-5 col-md-push-1  probootstrap-animate">
          <p><img src="assets/frontend/img/img/Create-an-order.png" alt="Fcreate order" class="img-responsive">
          </p>
        </div>
        <div class="col-md-4 col-md-push-2 probootstrap-section-heading">
          <h2 class="text-black probootstrap-heading-2" style=" margin-top: 40px">Create an order or <br>Upload a schedule
          </h2>
          <p style="color: black;">Simply input the weight of the cargo, pickup and dropoff location and get a quote in seconds.</p>
        </div>
      </div>
      <!-- END row -->
      <div class="row mb40">
        <div class="col-md-5 col-md-push-6 probootstrap-animate">
          <p><img src="assets/frontend/img/img/Get-matched-with-a-driver.png" alt="get driver" class="img-responsive"></p>
        </div>
        <div class="col-md-4 col-md-pull-4 probootstrap-section-heading">
          <h3 class="text-black probootstrap-heading-2" style="margin-top: 40px">Get matched with a Driver</h3>
          <p style="color: black;">Get matched with a network of 4,000+ vetted trucks and drivers with full insurance coverage .</p>
        </div>
      </div>
      <!-- END row -->

      <div class="row ">
        <div class="col-md-5 col-md-push-1  probootstrap-animate">
          <p><img src="assets/frontend/img/img/track-in-real-time.png" alt="real time tracking" class="img-responsive"></p>
        </div>
        <div class="col-md-4 col-md-push-2 probootstrap-section-heading">
          <h3 class="text-black probootstrap-heading-2" style=" margin-top:40px">Track in Real-Time</h3>
          <p style="color: black;"> Get end-to-end visibility of your cargo. Never wonder where your cargo is again. You will receive updates on
            milestones at every point of the process.
          </p>
        </div>
      </div>
      <!-- END row -->
    </div>
  </section>
  <!-- END section -->

  <section class="probootstrap-section probootstrap " id="features" data-section="features">
    <div class="container">
      <div class="row text-center">
        <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
          <h2 class="mb100 text-black probootstrap-heading ">Benefits</h2>
        </div>
      </div>
      <!-- END row -->
      <div class="row mb100">
        <div class="col-md-5 col-md-push-1  probootstrap-animate">
          <p><img src="assets/frontend/img/img/tripHistory.jpg" alt="image" class="img-responsive probootstrap-shadow"></p>
        </div>
        <div class="col-md-3 col-md-push-2 probootstrap-section-heading">
          <h2 class="text-black probootstrap-heading-2" style=" margin-top: 40px">Locate your shipment in real-time.</h2>
          <ul class="probootstrap-list">
            <li class="probootstrap-check">
              Pinpoint the exact location of your shipment on a real-time visual map on your dashboard
            </li>
            <li class="probootstrap-check">Get full visibility with estimated time of arrival of every milestone throughout your cargo's journey.
            </li>
          </ul>
        </div>
      </div>
      <!-- END row -->
      <div class="row mb100">
        <div class="col-md-5 col-md-push-6 probootstrap-animate">
          <p><img src="assets/frontend/img/img/Share-tracking-link.jpg" alt="share link" class="img-responsive probootstrap-shadow"></p>
        </div>
        <div class="col-md-4 col-md-pull-4 probootstrap-section-heading">
          <h3 class="text-black probootstrap-heading-2" style=" margin-top: 40px">Let your customers track shipments too</h3>
          <p style="color: black;">You can now share your cargo's whereabouts with your customers and other stakeholders through a tracking link.
            Each of you can know exactly where the cargo is, at anytime.
          </p>
          <ul class="probootstrap-list">
            <li class="probootstrap-check">Recipient of the cargo can also truck whereabouts through a link.</li>
            <li class="probootstrap-check">Share tracking link via email or text-message.</li>
            <li class="probootstrap-check">No need to call the logistic company or driver.</li>
          </ul>
        </div>
      </div>
      <!-- END row -->

      <div class="row mb100">
        <div class="col-md-5 col-md-push-1  probootstrap-animate">
          <p><img src="assets/frontend/img/img/message.jpg" alt="send message" class="img-responsive probootstrap-shadow">
          </p>
        </div>
        <div class="col-md-4 col-md-push-2 probootstrap-section-heading">
          <h3 class="text-black probootstrap-heading-2" style=" margin-top: 40px">Communicate with the truck driver</h3>
          <p style="color: black;">
            You will be able to send and receive messages to and from the truck driver during the trip. 
            He will be able to alert you
            in case delay or unforseen circumstance on his route
          </p>
        </div>
      </div>
      <!-- END row -->
      <div class="row mb100">
        <div class="col-md-5 col-md-push-6  probootstrap-animate">
          <p><img src="assets/frontend/img/img/24-7.png" alt="24/7 help" class="img-responsive ">
          </p>
        </div>
        <div class="col-md-4 col-md-pull-4 probootstrap-section-heading">
          <h3 class="text-black probootstrap-heading-2" style=" margin-top: 40px">24 / 7 Support</h3>
          <p style="color: black;">We are always here and ready to help. Call or email us and we will work tireless to resolve the problem.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->

  <section class="get-app-section">
    <div class="get-app">
      <img class="get-app-image" src="assets/frontend/img/img/GetAppBackground.jpg" class="img-responsive" width="100%" alt="image">
      <div class="mobile-app-all">
        <div class=" mobile-app-about probootstrap-animate">
          <h1 style=" font-weight: 700;"> Move your next cargo<br>with Truckr</h1>
          <div >
            <br>
            <p class="probootstrap-animate" style="/* margin:  0 auto; */text-align:  center;padding: 47px;">
              <a href="/signup" target="_blank" class="btn btn-default smoothscroll new-btn" role="button">Get Started</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer" style="background-image: url(assets/frontend/img/img/footerbg.jpg);" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="footer-content">
          <div class="contact" id="contact">
            <img class="d-block" src="assets/frontend/img/img/truckrFooterLogo.png" alt="Truckr">
            <ul>
              <li><a style="color: white;">No. 20 Aluguntugui Street,</a></li>
              <li><a style="color: white;">East Legon, Accra, Ghana</a></li>
              <li><a style="color: white;">Tel: +233 206 703 723</a></li>
              <li><a href="info@truckrtech.com">info@truckrtech.com</a></li>
            </ul>
          </div>
          <div class="product-footer">
            <h4 class="footer-link-header">Product</h4>
            <ul>
              <li><a href="#">Cargo Owner</a></li>
              <li><a href="#">Transporter</a></li>
              <li><a href="#">Features</a></li>
              <li><a href="#">FAQs</a></li>
            </ul>
          </div>
          <div class="product-footer">
            <h4 class="footer-link-header">Company</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Contact</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </div>
          <div class="product-footer">
            <h4 class="footer-link-header">Website</h4>
            <ul>
              <li><a href="#">Terms</a></li>
              <li><a href="#">Privacy</a></li>
            </ul>
          </div>
          <div class="product-footer">
            <h4 class="footer-link-header">Social Media</h4>
            <ul>
              <li><a href="#">Follow us on facebook</a></li>
              <li><a href="#">Follow us on twitter</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="copyright">
        <p>©2018 <span>Truckr Technologies All rights reserved.</span></p>
      </div>
    </div>

  </footer>

</body>
