
  <!-- Page container -->
  <div class="page-container">
    <!-- Page content -->
    <div class="page-content">

      <!-- Main content -->
      <div class="content-wrapper">

        <!-- Content area -->
        <div class="content">

          <!-- dashboard panel -->
          <div class="col-md-8 panel panel-flat">



          </div>
          <!-- /dashboard panel -->
        </div>
        <!-- /content area -->

      </div>
      <!-- /main content -->

    </div>
    <!-- /page content -->

  </div>
  <!-- /page container -->