<nav class="navbar ">
   <a class="navbar-brand" href="#" style="padding-right: 368px;">
      <img class="logo" src="assets/frontend/img/img/truckrFooterLogo.png" alt="Truckr Logo">
   </a>
   <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle text-white " data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
         aria-expanded="false">Sign In</a>
      <div class="dropdown-menu">
         <a class="dropdown-item" href="#">Cargo Owner</a>
         <a class="dropdown-item" href="#">Transporter</a>
      </div>
   </li>
</nav>

<div class="form-body">
   <div class="signing">
      <h1>Cargo Owner Sign In</h1>
   </div>
   <div class="sub-signing">
      Welcome to Truckr! Sign in with your email and password below.
   </div>
   <div id="firebaseui-auth-container"></div>
   <span class="article">
     <span class="text">OR</span>
    </span>


   <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
      <input class="input100" type="text" name="email" placeholder="Email">
      <span class="focus-input100-1"></span>
      <span class="focus-input100-2"></span>
   </div>

   <div class="wrap-input100 validate-input" data-validate="Password is required">
      <input class="input100" type="password" name="password" placeholder="Password">
      <span class="focus-input100-1"></span>
      <span class="focus-input100-2"></span>
   </div>


   <div class="container-contact100-form-btn">
      <button class="contact100-form-btn">
         Sign In
      </button>
   </div>

   <div class="form-after text-center">
      <p>
         Don't have an account?
         <a href="/signup"><strong>Sign Up</strong> </a>
      </p>
   </div>
</div>
<footer>
   <div class="footer-copyright ">
      <div class="copyright">
         ©2018 <span>Truckr Technoligies All rights reserved. </span></div>
   </div>
</footer>
  