
<body class="site-body">
  <header id="header" class="site-header" role="navigation">
    <div class="container-fluid">
      <div class="menu-wrapper">
        <div id="nav-bar-wrap" class="col-md-14 nav-col">
          <nav id="nav-bar-content" class="navbar navbar-expand-lg custom-navbar">
            <div class="register-link">
              <div class="register-btn">
                <div class="btn smoothscroll new-btn">
                  <a href="/signup" class="label" style="color:  black;">SIGN UP</a>
                </div>
                <div class="btn btn-default geni-btn">
                  <a href="/signin" class="label" style="color: black;">SIGN IN</a>
                </div>
              </div>
              <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="/about-page">ABOUT </a></li>
                <li><a href="/cargo-owner">CARGO OWNERS</a></li>
                <li><a href="/" rel="home"><img class="d-block" src="assets/frontend/img/img/logo.png" alt="Truckr"></a></li>
                <li><a href="/transporters"> TRANSPORTERS</a></li>
                <li><a href="/contact">CONTACT</a></li>
                <li><a href="/faqs">FAQs</a></li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>

  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="assets/frontend/img/img/TruckOwnerBanner.jpg" alt="New york" style="width:100%;">
      </div>
      <div class="carousel-header">
        <div class="col-md-9 col-md-push-1 text-left">
          <h3 class="probootstrap-heading probootstrap-animate cargodude">
            Get more Jobs,
            <br> Earn more Cash!
          </h3>
          <h3 class=" col-md-10 probootstrap-heading2 probootstrap-animate">Move and monitor your cargo with our innovative <br> technology solution.
          </h3>
        </div>
        <div class="col-md-push-6 mb10 cargo-contact100" style="padding-bottom: 2px!important; margin-bottom: 0px!important;">
          <form class="contact100-form validate-form">
            <span class="contact100-form-title">
              <h3 class=" text-black probootstrap-heading text-center">
                <strong style="font-size: 30px; font-weight: 900;">Transporters Sign Up</strong>
              </h3>
            </span>

            <div class="wrap-input100 validate-input" data-validate="First Name is required">
              <input class="input100" type="text" name="name" placeholder="First Name">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Last Name is required">
              <input class="input100" type="text" name="name" placeholder="Last Name">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
              <input class="input100" type="text" name="email" placeholder="Email">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="wrap-input100 validate-input" data-validate="Valid Phone number is required: 0123456789">
              <input class="input100" type="tel" name="number" placeholder="Phone Number">
              <span class="focus-input100-1"></span>
              <span class="focus-input100-2"></span>
            </div>

            <div class="container-contact100-form-btn">
              <button class="contact100-form-btn geni-btn" style="border-radius: 20px!important; height: 35px!important;">
                    Continue
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <section class="probootstrap-section" id="features" data-section="features">
      <div class="container">
        <div class="row">
          <div class="col-md-3 text-center">
            <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
              <img class="img-feature" src="assets/frontend/img/img/TrackTrucks.png">
              <h2>Track your Trucks</h2>
              <p style="color: black;">Pinpoint the exact location of your trucks from pickup to delivery. Receive alerts to deal with issues as
                they arise.
              </p>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
              <img class="img-feature" src="assets/frontend/img/img/QuickPayments.png">
              <h2>Quick Payments</h2>
              <p style="color: black;"> Get paid quickly. Truckr pays you in 7days or less for every trip.
              </p>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
              <img class="img-feature" src="assets/frontend/img/img/SaveTime.png">
              <h2>Save Time</h2>
              <p style="color: black;">No more long queues. Waiting for load should be a thing of the past.
              </p>
            </div>
          </div>
          <div class="col-md-3 text-center">
            <div class="probootstrap-service-item probootstrap-animate" data-animate-effect="fadeIn">
              <img class="img-feature" src="assets/frontend/img/img/MoveMoreCargo.png">
              <h2>Move more Cargo</h2>
              <p style="color: black;">Get paired with loads that's near your location so you won’t drive a long way to pickup load.</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- END row -->
    <section class="probootstrap-section probootstrap" id="features" data-section="features">
      <div class="container">
        <div class="row mb40 text-center">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb50 text-black probootstrap-heading">How it Works</h2>
            <h4 class="mb70">Sign up for a free Truckr account and download our smartphone app for iPhone or Android. Just leave the app
              on and we’ll let you know when cargos are available.
              <br>Only accept the jobs you want.
            </h4>
          </div>
        </div>
        <!-- END row -->
        <div class="row mb40">
          <div class="col-md-3 col-md-push-2  probootstrap-animate">
            <p><img src="assets/frontend/img/img/GetMatched.png" alt="Get Matched" class="img-responsive">
            </p>
          </div>
          <div class="col-md-4 col-md-push-3 probootstrap-section-heading">
            <h2 class="text-black probootstrap-heading-2">Get Matched with Cargo
            </h2>
            <p style="color: black;">Truckr will notify you when cargo is available, once you accept the order you are ready to transport the order
              and get paid.
            </p>
          </div>
        </div>
        <!-- END row -->
        <div class="row mb40">
          <div class="col-md-3 col-md-push-7 probootstrap-animate">
            <p><img src="assets/frontend/img/img/DeliverCargo.png" alt="Deliver Cargo" class="img-responsive"></p>
          </div>
          <div class="col-md-4 col-md-pull-1 probootstrap-section-heading">
            <h3 class="text-black probootstrap-heading-2">Deliver Cargo</h3>
            <p style="color: black;"> Know where exactly you are picking up the cargo and where you are delivering it to. Save fuel and save time.
              Be able to communicate with all parties just by the click of a button.
            </p>
          </div>
        </div>
        <!-- END row -->

        <div class="row mb60">
          <div class="col-md-3 col-md-push-2  probootstrap-animate">
            <p><img src="assets/frontend/img/img/GetPaid.png" alt="Get Paid" class="img-responsive">
            </p>
          </div>
          <div class="col-md-4 col-md-push-3 probootstrap-section-heading">
            <h3 class="text-black probootstrap-heading-2">Get Paid</h3>
            <p style="color: black;">Make more money per trip than the traditional methods of trucking. Get paid quickly. 
              Truckr pays you in 7days or less for every trip.
            </p>
          </div>
        </div>
        <!-- END row -->
      </div>
    </section>
    <!-- END section -->

    <section class="probootstrap-section probootstrap " id="features" data-section="features">
      <div class="container">
        <div class="row text-center">
          <div class="col-md-8 col-md-offset-2 probootstrap-section-heading">
            <h2 class="mb100 text-black probootstrap-heading ">Benefits to the Truck Owner</h2>
          </div>
        </div>
        <!-- END row -->
        <div class="row mb40">
          <div class="col-md-5 col-md-push-1  probootstrap-animate">
            <p><img src="assets/frontend/img/img/track-in-real-time.png" alt="Truckr image" class="img-responsive">
            </p>
          </div>
          <div class="col-md-3 col-md-push-2 probootstrap-section-heading">
            <h2 class="text-black probootstrap-heading-2">Locate your trucks in real-time.</h2>
            <ul class="probootstrap-list">
              <li class="probootstrap-check">

                Pinpoint the exact location of your trucks on a real-time visual map on your dashboard
              </li>
              <li class="probootstrap-check">Get full visibility with estimated time of arrival of every milestone throughout your truck's journey.
              </li>
            </ul>
          </div>
        </div>
        <!-- END row -->
        <div class="row mb40">
          <div class="col-md-5 col-md-push-6 probootstrap-animate">
            <p><img src="assets/frontend/img/img/Report.png" alt="Truckr image" class="img-responsive "></p>
          </div>
          <div class="col-md-4 col-md-pull-4 probootstrap-section-heading">
            <h3 class="text-black probootstrap-heading-2">Reporting & analytics</h3>
            <p style="color: black;">Uncover powerful insights to inform decisions in areas such as carrier performance, warehouse efficiency, and
              improving cost savings.
            </p>
            <ul class="probootstrap-list">
              <li class="probootstrap-check">Access Revenues & Invoices over a stipulated period.</li>
              <li class="probootstrap-check">Measure truck performance.</li>
              <li class="probootstrap-check">Define optitmum routes to save fuel consumption.</li>
            </ul>
          </div>
        </div>
        <!-- END row -->

        <div class="row mb40">
          <div class="col-md-5 col-md-push-1  probootstrap-animate">
            <p><img src="assets/frontend/img/img/24-7.png" alt="Truckr image" class="img-responsive">
            </p>
          </div>
          <div class="col-md-4 col-md-push-2 probootstrap-section-heading">
            <h3 class="text-black probootstrap-heading-2">24 / 7 Support</h3>
            <p style="color: black;">We are always here and ready to help. 
              Call or email us and we will work tireless to resolve the problem.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- END row -->

    <section class="get-app-section">
      <div class="get-app">
        <img class="get-app-image" src="assets/frontend/img/img/GetAppBackground.jpg" class="img-responsive" width="100%" alt="image">
        <div class="mobile-app-all">
          <div class="col-md-3 mobile-app">
            <img class="phone-image" src="assets/frontend/img/img/Get-the-app.png" class="img-responsive" width="100%" alt="image">
          </div>
          <div class="mobile-app-info">
            <h2 style=" font-weight:  700;">
              Get Truckr Mobile App
            </h2>
            <h4 class="features_content">Get end-to-end visibility of your truck online. 
              List, manage and track your truck, invoices,and payments on web or mobile.
            </h4>
            <div class="app-store-img">
              <img class="" src="assets/frontend/img/img/googlePlay.png" class="img-responsive" alt="image">
            </div>
          </div>
        </div>
      </div>
    </section>

    <div class="subscribe-header-transporter  probootstrap-animate">
      <div>
        <h1 class="mb30 text-black probootstrap-heading" style="font-weight: 700;">
          Ready to Earn More?
        </h1>
      </div>
      <div class=" ">
        <br>
        <p class="probootstrap-animate" style="/* margin:  0 auto; */text-align: center; padding: 47px;">
          <a href="/signup" target="_blank" class="btn btn-black smoothscroll geni-btn" role="button">GetStarted</a>
        </p>
      </div>
    </div>

    <footer class="footer" style="background-image: url(assets/frontend/img/img/footerbg.jpg);" role="contentinfo">
      <div class="container">
        <div class="row">
          <div class="footer-content">
            <div class="contact" id="contact">
              <img class="d-block" src="assets/frontend/img/img/truckrFooterLogo.png" alt="Truckr">
              <ul>
                <li><a style="color: white;">No. 20 Aluguntugui Street,</a></li>
                <li><a style="color: white;">East Legon, Accra, Ghana</a></li>
                <li><a style="color: white;">Tel: +233 206 703 723</a></li>
                <li><a href="info@truckrtech.com">info@truckrtech.com</a></li>
              </ul>
            </div>
            <div class="product-footer">
              <h4 class="footer-link-header">Product</h4>
              <ul>
                <li><a href="#">Cargo Owner</a></li>
                <li><a href="#">Transporter</a></li>
                <li><a href="#">Features</a></li>
                <li><a href="#">FAQs</a></li>
              </ul>
            </div>
            <div class="product-footer">
              <h4 class="footer-link-header">Company</h4>
              <ul>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Help</a></li>
              </ul>
            </div>
            <div class="product-footer">
              <h4 class="footer-link-header">Website</h4>
              <ul>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Privacy</a></li>
              </ul>
            </div>
            <div class="product-footer">
              <h4 class="footer-link-header">Social Media</h4>
              <ul>
                <li><a href="#">Follow us on facebook</a></li>
                <li><a href="#">Follow us on twitter</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="copyright">
          <p>©2018 <span>Truckr Technologies All rights reserved.</span></p>
        </div>
      </div>
    </footer>

  </div>
</body>
